{% extends 'news/base.html'%}
{% load i18n %}
{% load static %}

{% block title%} 
{% blocktrans %} Profil ma'lumotlarini o'zgartirish{% endblocktrans %} 
{%endblock title%}

{% block content %}

<h1>{% blocktranslate %}Foydalanuvchi ma'lumotlarini o'zgartirish {% endblocktranslate %}</h1>

<p>{% blocktranslate %} Siz quyidagi forma orqali profilingizni tahrirlay olasiz{% endblocktranslate %}:</p>

<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{profile_form.as_p}}
    {{user_form.as_p}}
    <button type="submit" class="btn btn-success">{% blocktranslate %} Saqlash{% endblocktranslate %}</button>
</form>

{% endblock content %}