{% extends "news/base.html "%}
{% load static %}
{% load i18n %}

{%block title%} {% blocktranslate %}Logout sahifasi {% endblocktranslate %} {%endblock title%}

{%block content%}
        <h2>{% blocktranslate %} Log Out{% endblocktranslate %} </h2>
        <p>{% blocktranslate %} Siz veb saytdan chiqdinggiz{% endblocktranslate %}
           <button class="btn btn-success"><a href="{% url 'login' %}" style="color: white;">{% blocktranslate %}Login {% endblocktranslate %}</a></button> 
        </p>

        

{%endblock content%}