{% extends "news/base.html "%}
{% load static %}

{%block title%} {% blocktranslate %}Login sahifasi {% endblocktranslate %} {%endblock title%}

{%block content%}
        <h2>{% blocktranslate %}Veb-saytga kirish --- Login {% endblocktranslate %} </h2>
        <p>{% blocktranslate %}Iltimos saytga kirish uchun quyidagi formani to'ldiring {% endblocktranslate %}</p>
      
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}

            <button class="btn btn-success" type="submit">{% blocktranslate %}Login {% endblocktranslate %}</button>
            <h5> <a href="{% url 'password_reset' %}" style="color: brown;">{% blocktranslate %} Forgot password ?{% endblocktranslate %} </a></h5>
        </form>

        <h4>{% blocktranslate %}Agar profilingiz bo'lmasa  {% endblocktranslate %}<a href="{% url 'user_register' %}" style="color: green;">{% blocktranslate %} ro'yhatdan o'tishingiz{% endblocktranslate %}</a>{% blocktranslate %}  mumkin.{% endblocktranslate %}</h4>
{%endblock content%}