{% extends "news/base.html "%}
{% load static %}

{%block title%} Login sahifasi {%endblock title%}

{%block content%}
        <h2>Veb-saytga kirish --- Login </h2>
        <p>Iltimos saytga kirish uchun quyidagi formani to'ldiring</p>
      
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}

            <button class="btn btn-success" type="submit">Login</button>
            <h5> <a href="{% url 'password_reset' %}" style="color: brown;">Forgot password ? </a></h5>
        </form>

{%endblock content%}