{% extends "news/base.html" %}
{% load i18n %}
{% load static %}

{% block title%} {% blocktranslate %}Change password  {% endblocktranslate %}{% endblock title %}

{%block content%}   
    <h1>{% blocktranslate %}Parolni o'zgartirish emaili yuborildi {% endblocktranslate %}</h1>
    <p>{% blocktranslate %} Parolni o'zgartirish uchun quyidagi formani to'ldiring !{% endblocktranslate %}</p>
    <p>{% blocktranslate %} Agar email kelmagan bo'lsa tekshirib , qayta urinib ko'ring !{% endblocktranslate %} </p>
{% endblock %}