{% extends 'news/base.html'%}
{% load static %}

{% block title%}{% blocktranslate %}  Change password {% endblocktranslate %}{% endblock title%}

{% block content%}
    <h1>{% blocktranslate %} Change password{% endblocktranslate %}</h1>
    <p>{% blocktranslate %} Fill out the form for change password {% endblocktranslate %}</p>
    <form method="post">
        {%csrf_token%}
        {{ form.as_p}}
        <p><button type="submit">{% blocktranslate %}Change {% endblocktranslate %}</button></p>
    </form>

{% endblock content%}