{% extends 'news/base.html'%}
{% load static %}
{% load i18n %}

{% block title%}{% blocktranslate %} Changed password  {% endblocktranslate %}{% endblock title%}

{% block content %}
    <h1>{% blocktranslate %}The password has been changed {% endblocktranslate %}</h1>
    <p>{% blocktranslate %} Sizning parolingiz qayta tiklandi. Endi qaytadan {% endblocktranslate %}<a href="{% url 'login' %}" style="color: green;">{% blocktranslate %} Login{% endblocktranslate %}</a> {% blocktranslate %}qilishingiz mumkin! {% endblocktranslate %}</p>
{% endblock content %}