{% extends "news/base.html" %}
{% load i18n %}
{% load static %}

{% block title%}{% blocktranslate %} Password recovery  {% endblocktranslate %}{% endblock title %}

{% block content %}   
    <h1>{% blocktranslate %}Parolni tiklash {% endblocktranslate %}</h1>

    {% if validlink %}

        <p>{% blocktranslate %}Parolni kiriting {% endblocktranslate %}</p>
        <form method="post">{%csrf_token%}
            {{form.as_p}}       
            <p><button type="submit"> {% blocktranslate %}Parolni almashtirish {% endblocktranslate %} </button></p>
        </form>
    {% else %}
        <p>{% blocktranslate %} Siz noto'g'ri linkdan foydalandingiz , u avvalroq foydalanilgan bo'lishi yoki ishlatilish vaqti o'tib ketgan bo'lishi mumkin ! {% endblocktranslate %} </p>
    {% endif %}

{% endblock content%}