{% extends 'news/base.html' %}
{% load static %}


{% block title %} My profile {%endblock title%}

{% block content %}
    <h3> Welcome , {{user.username}} </h3>
    <h2>About you:</h2>
    <label>Username:</label> <input value="{{user.username}}" readonly placeholder="Your username"> <br>
    <label>Email:</label> <input value="{{user.email}}" readonly placeholder="Your email"> <br>
    <label>First name:</label> <input value="{{user.first_name}}" readonly placeholder="Your first name"> <br>
    <label>Last name:</label> <input value="{{user.last_name}}" readonly placeholder="Your last name">

    <h4><a href="#">Change password</a></h4>


{% endblock content %}