{% extends 'news/base.html' %}
{% load i18n %}
{% load static %}

{% block title %} {{news.title}} {% endblock title %}

{% block content %}
    <h2 class="text-centr">{% blocktranslate %}Yangilikni o'chirish {% endblocktranslate %}</h2>
    <form method="post">{% csrf_token %}
        <p>{{news.title|truncatewords:4}}{% blocktranslate %}... sarlavhali yangilikni o'chirmoqchimisiz ?  {% endblocktranslate %} </p>
        <button type="submit" class="btn btn-danger ml-2">{% blocktranslate %}Tasdiqlayman {% endblocktranslate %}</button>   
    </form>
{% endblock content %}