{% extends "news/base.html" %}
{% load static %}

{% block title %} {{news.title}} {% endblock title %}

{% block content %}

    <h1>{{news.title}}</h1>
    <h5>{{news.publish_time}}</h5>
    <img src="{{ news.image.url }}">
    <p>{{news.body}}</p>

    <div class="card-footer text-center" >
        |<a href="{% url 'news_update' news.slug %}">Tahrirlash</a> |
        <a href="{% url 'news_delete' news.slug %}">O'chirish</a> |
        <a href="{% url 'news_create' %}">Yangilik qo'shish</a>
    </div> 
{% endblock content %}